$fontFamily: 'Roboto', sans-serif;
$lineHeight: 1.2;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1025px;
$bigDesktopBreakpoint: 1444px;

$modalBreakpoint: 1325px;

$primaryTransitionDelay: .4s;

$primaryColor: #000;
$secondaryColor: #FFF;
$thirdlyColor: #F44336;
$grayColor: lightgray;

$fontSize: 12px;
$desktopFontSize: 16px;

$defaultInputWidth: 200px;

$padding-base: 20px;
$margin-base: 20px;


header {
  background: url("https://images.pexels.com/photos/701337/pexels-photo-701337.jpeg?auto=compress&cs=tinysrgb&h=650&w=940") center;
  background-size: cover;
  min-height: 200px;
  padding: $padding-base;
  color: $secondaryColor;

  .logo {
    color: $thirdlyColor;
    font-weight: bold;
    padding: $padding-base 0;
  }

  .search-field{
    &-box {}
    &-label {
      display: block;
      text-transform: uppercase;
      padding: $padding-base 0;
      //color: $secondaryColor;
    }
    &-input {
      display: block;
      width: 100%;
      padding: $padding-base/2;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $thirdlyColor;
      color: $secondaryColor;

      &::placeholder{
        color: $secondaryColor;
      }
    }
  }

  .search-filter {
    padding-top: $padding-base/2;
    &-box {
      width: 70%;
      display: inline-block;
    }
    &-list {
      list-style: none;
      padding: 0;
      display: inline-block;
      margin-left: 10px;

      li {
        display: inline-block;
        margin: 0 $margin-base/5;
      }
    }
  }
  .search-button{
    width: 30%;
    max-width: 200px;
    display: inline-block;
    float: right;
    button {
      width: 100%;
    }
  }
}