*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $primaryColor;

  @media (min-width: $desktopBreakpoint) {
    font-size: $desktopFontSize;
  }
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: underline;

  &:hover {

  }
}
