$fontFamily: 'Roboto', sans-serif;
$lineHeight: 1.2;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1025px;
$bigDesktopBreakpoint: 1444px;

$modalBreakpoint: 1325px;

$primaryTransitionDelay: .4s;

$primaryColor: #000;
$secondaryColor: #FFF;
$thirdlyColor: #F44336;
$grayColor: lightgray;

$fontSize: 12px;
$desktopFontSize: 16px;

$defaultInputWidth: 200px;

$padding-base: 20px;
$margin-base: 20px;

