.films {
  &-box-wrapper {
  }

  &-box-header {
    padding: $padding-base;
    color: $secondaryColor;
    background: $primaryColor url("https://images.pexels.com/photos/701337/pexels-photo-701337.jpeg?auto=compress&cs=tinysrgb&h=650&w=940") center;
    background-size: cover;

    .logo a {
      color: $secondaryColor;
      text-decoration: none;
    }

    img {
      height: 280px;
      object-fit: cover;
    }
  }
  &-box-body {
    flex: 1;
  }
  &-title {
    color: $thirdlyColor;
  }
}
